.message {
	color: black;
	text-align: left;
}

.alignmentLeft {
	text-align: left;
	border: 1px solid black;
	background-color: orange;
}

.alignmentRight {
	text-align: right;
	background-color: grey;
	padding-right: 600px;
	padding-left: 600px;
}

body {
	background-color: white;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.hdr {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	padding-left: 40%;
	padding-right: 45%;
	float: right;
}

.usrHdr {
	text-align: right;
	float: right;
}

.cPanel {
	border-style: solid;
}

.sPanel {
	border-style: 1px;
}

.mPanel {
	border: 1px;
}

.p1 {
	border: 1px solid black;
}

.p2 {
	border: 1px solid black;
}